.board {
    display: flex;
    justify-content: flex-start;
    height: 456px;
    width: 836px;
    background-color: darkgray;
}
.board-turnColumn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 456px;
    width: 76px;
    background-color: lightgray;
    text-align: center;
    border-right: 1px solid black;
}
.board-answerColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 456px;
    width: 76px;
    background-color: lightgray;
}
.board-turnColumn-feedbackBox {
    height: 76px;
    width: 76px;
    background-color: lightgray;
    border-bottom: 1px solid black;
    position: relative;
}
.feedbackPeg {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
}
.feedbackPos1 {
    top: 21px;
    left: 21px;
}
.feedbackPos1-full {
    top: 18.5px;
    left: 18.5px;
}
.feedbackPos2 {
    top: 21px;
    left: 45px;
}
.feedbackPos2-full {
    top: 18.5px;
    left: 42.5px;
}
.feedbackPos3 {
    top: 45px;
    left: 21px;
}
.feedbackPos3-full {
    top: 42.5px;
    left: 18.5px;
}
.feedbackPos4 {
    top: 45px;
    left: 45px;
}
.feedbackPos4-full {
    top: 42.5px;
    left: 42.5px;
}
.feedbackPeg-white {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}
.feedbackPeg-black {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
}
.colorPeg-wrap {
    height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.board-turnColumn-colorPeg {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: gray;
}
.turnNumber-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 76px;
    border-top: 1px solid black;
}
p {
    font-size: 20px;
}
.turnNumber-current {
    text-shadow: 1px 0px 0px gold , 0px 1px 0px gold, -1px 0px 0px gold, 
  0px -1px 0px gold, 1px 4px 5px white;
}
.button-row {
    width: 836px;
    height: 50px;
    background-color: gold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-button-wrap {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.color-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
}
.color-button:hover {
    box-shadow: 0px 0px 5px #555;
}

#btnRed {background-color: #d81313;}
#btnRed:hover {background-color: #f91313}
#btnOrange {background-color: #e09916;}
#btnOrange:hover {background-color: #f7a918;}
#btnYellow {background-color: #e5e519;}
#btnYellow:hover {background-color: #f7f71b;}
#btnGreen {background-color: #1cc91c;}
#btnGreen:hover {background-color: #23ea23;}
#btnBlue {background-color: #1d80e2;}
#btnBlue:hover {background-color: #1d8bf9;}
#btnPurple {background-color: #9e149e;}
#btnPurple:hover {background-color: #c419c4;}
#btnWhite {background-color: #e5e5e5;}
#btnWhite:hover {background-color: #eee;}
#btnBlack {background-color: #222;}
#btnBlack:hover {background-color: #3d3d3d;}

.button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
}
.btnClear {
    background-color: white;
    padding-top: 6px;
}
.btnClear:hover {
    box-shadow: 0px 0px 5px #555;
}
.btnSubmit {
    background-color: limegreen;
    padding-top: 6px;
    margin-right: 20px;
}
.btnSubmit:hover {
    box-shadow: 0px 0px 5px #555;
}